:root {
    --base-ipad: 40px;
    --base-pad: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}


.sidebar {
    background-color: skyblue;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar>ul>li {
    font-size: 1.5rem;
    padding-inline: 20px;
}


.sidebar-heading {
    display: flex;
    padding: 20px;
    gap: 10px;
}

.placeholder-product-icon {
    height: 20px;
    width: 20px;
    font-size: 2rem;
}

.sidebar-heading>h2 {
    font-size: 2rem;
}

.main-panel {
    grid-column: 2 / 3;
    display: grid;
    grid-template: 1fr 1fr 8fr / 2fr 1fr;
}

.searchbar {
    grid-row: 1 / 2;
    grid-column: 1 / -1;

    display: flex;
    align-items: center;
    gap: 20px;
    padding-inline: var(--base-ipad);

}

.searchbar>input {
    width: 50vw;
}

.searchbar>#bell {
    margin-left: auto;
}

.header {
    grid-row: 2 / 3;
    grid-column: 1 / -1;

    display: flex;
    align-items: center;
    padding-inline: var(--base-ipad);
}

.button-controls {
    display: flex;
    margin-left: auto;
    gap: 10px;
}


.user-greeting {
    position: relative;
}

.user-greeting::before {
    content: "Hello There,";
    position: absolute;
    font-size: 0.7rem;
    top: -12px;
}

.projects {
    background-color: grey;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    padding: 15px;

    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: repeat(auto-fill, minmax(150px, 48%));
    grid-auto-rows: 1fr;
    gap: 15px;
}

.projects>h2 {
    grid-column: 1 / -1;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card>h3 {
    font-weight: 700;
}

.card>div {
    margin-top: auto;
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.card>div>div {
    width: 30px;
    height: 30px;

    border-radius: 50%;
    background-color: red;

    text-align: center;
    align-content: center;
}

.info-panel {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: grey;
    gap: 15px;
}

.announcements {
    flex: 1;
    background-color: white;
}

.trending {
    flex: 1;
    background-color: white;
}
